.main-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.my-profile img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
